.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.login-container {
  background-color: #e0e0e0;
  padding: 50px;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #de2f2f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}