.forms {
  max-width: 450px;
  background: #ffffff;
  padding: 30px;
  margin: 60px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #ddd;
  text-align: left;
}

.forms h1 {
  text-align: center;
  margin-bottom: 20px;
}

.forms form {
  display: flex;
  flex-direction: column;
}

.forms label {
  margin-top: 12px;
  font-weight: bold;
}

.forms input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #aaa;
  font-size: 16px;
}

.submitButton {
  padding: 12px;
  margin-top: 20px;
  background: #e81a1a;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.submitButton:hover {
  background: #bf1212;
}
