.header{
  display: flex;
  border-bottom: 7px solid black;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
}

.header img{
  width: 40px;
  height: 40px;
}

.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.links a{
  text-decoration: none;
  color: black;
  font-size: 24px;
} 

.links a.active{
  color: red;
  font-weight: bold;
}

h1{
  font-size: 48px;
  text-align: center;
  margin: 0;
}